body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
}

.title{
    text-align: center;
}

.product {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
}

.column{
    width: 23%;
    border: 2px solid black;
}

.column p{
    font-size: 20px;
    text-align: center;
}

.card{
    border: 2px solid black;
}

.card h3{
    text-align: center;
}

ul li{
    list-style: none;
    display: flex;
}

ul li p{
    padding-left: 10px;
}



input[type=submit]{
    height: 35px;
    width: 100px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 10px 15px;
}

.changeCard{
    height: 35px;
    width: 110px;
}

.deleteCard{
    height: 35px;
    width: 100px;
}

.showForm{
    display: block;
    margin: 15px auto;
    height: 35px;
    width: 140px;
}

.modalForm{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 30%;
    left: 29%;
    background: ghostwhite;
    box-shadow: 2px 2px 2px 2px black;
}

.close{
    position: absolute;
    background: #ee1e1e;
    color: white;
    font-size: 13px;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 120px;
}
