body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
}

.title{
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    flex: 0 1 100%;
}

.product {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 10px 0 10px
}

.column{
    width: 23%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column1 form{
    flex: 0 1 100%;
}

.column p{
    font-size: 20px;
    text-align: center;
}

.card{
    box-sizing: border-box;
    border: 1px solid black;
    flex: 0 1 49%;
}

/*.card:not(:last-child){*/
/*    margin-bottom: 8px;*/
/*}*/

.card h3{
    text-align: center;
}

ul li{
    list-style: none;
    display: flex;
}

ul li p{
    padding-left: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 20px 15px;
}

.moveButtons{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px 10px 15px;
}

.moveButtons button:not(:last-child){
    margin-bottom: 10px;
}

.moveButton{
    height: 35px;
    width: 120px;
}

.changeCard{
    height: 35px;
    width: 110px;
}

.deleteCard{
    height: 35px;
    width: 100px;
}

.createButton{
    height: 35px;
    width: 120px;
}

.showForm{
    display: block;
    margin: 15px auto;
    height: 35px;
    width: 140px;
}

.modalForm{
    position: absolute;
    width: 800px;
    height: 500px;
    top: 30%;
    left: 29%;
    background: ghostwhite;
    box-shadow: 2px 2px 2px 2px black;
}

.modalForm form{
    position: relative;
    padding: 135px 0px 0px 0px;
}

.changeButton{
    height: 35px;
    width: 150px;
}

.close{
    position: absolute;
    background: #ee1e1e;
    color: white;
    font-size: 13px;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 120px;
}

.greenCard{
    background-color: #3ce83c;
}

.redCard{
    background-color: #ff3131;
}
